@import url("static/fonts/Montserrat/fonts/webfonts/Montserrat-Alt1.css");

@media screen and (max-width: 80rem) {
  .menu {
    display: none;
  }
}

:root {
  --background-color: black;
  --color: #DE9C52;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: none;
  background-color: var(--background-color);
  font-family: ' Montserrat-Alt1 ', sans-serif;
  color: red;
}

.topnav {
  overflow: hidden;
  background-color: var(--color);
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: var(--color);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {

  color: var(--color);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.active {
  background-color: var(--background-color);
  color: var(--color);
}